name: 'Experiment stuff'
on: push

jobs:
  test:

    name: Do some experiments on MacOS
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build load-main
      run: |
        gcc Experiments/load-main/bundle.c -bundle -o Experiments/load-main/bundle
        gcc Experiments/load-main/macho.c Experiments/load-main/main.c -o Experiments/load-main/macho
        ./Experiments/load-main/macho ./Experiments/load-main/bundle

    - name: Publish load-main binaries
      uses: actions/upload-artifact@v2
      with:
        name: load-main
        path: |
          ./Experiments/load-main/macho
          ./Experiments/load-main/bundle


    - name: Build load-foo
      run: |
        gcc Experiments/load-foo/bundle.c -bundle -o Experiments/load-foo/bundle.so
        gcc Experiments/load-foo/macho.c Experiments/load-foo/main.c -o Experiments/load-foo/macho
        ./Experiments/load-foo/macho ./Experiments/load-foo/bundle.so

    - name: Publish load-foo binaries
      uses: actions/upload-artifact@v2
      with:
        name: load-foo
        path: |
          ./Experiments/load-foo/macho
          ./Experiments/load-foo/bundle.so

    - name: Build load-foo-bar
      run: |
        gcc Experiments/load-foo-bar/bar.c -bundle -o Experiments/load-foo-bar/bar.so 
        gcc Experiments/load-foo-bar/bundle.c -bundle -o Experiments/load-foo-bar/bundle.so -Wl,-U,_secret
        gcc Experiments/load-foo-bar/macho.c Experiments/load-foo-bar/main.c -o Experiments/load-foo-bar/macho
        ./Experiments/load-foo-bar/macho ./Experiments/load-foo-bar/bar.so ./Experiments/load-foo-bar/bundle.so

    - name: Publish load-foo-bar binaries
      uses: actions/upload-artifact@v2
      with:
        name: load-foo-bar
        path: |
          ./Experiments/load-foo-bar/macho
          ./Experiments/load-foo-bar/bundle.so
          ./Experiments/load-foo-bar/bar.so

    - name: Build load-foo-lib
      run: |
        gcc Experiments/load-foo-lib/bundle.c -dynamiclib -o Experiments/load-foo-lib/bundle.so
        gcc Experiments/load-foo-lib/macho.c Experiments/load-foo-lib/main.c -o Experiments/load-foo-lib/macho
        ./Experiments/load-foo-lib/macho ./Experiments/load-foo-lib/bundle.so

    - name: Publish load-foo-lib binaries
      uses: actions/upload-artifact@v2
      with:
        name: load-foo-lib
        path: |
          ./Experiments/load-foo-lib/macho
          ./Experiments/load-foo-lib/bundle.so

    - name: Build load-foo-bar-lib
      run: |
        gcc Experiments/load-foo-bar-lib/bar.c -dynamiclib -o Experiments/load-foo-bar-lib/bar.so 
        gcc Experiments/load-foo-bar-lib/bundle.c -dynamiclib -o Experiments/load-foo-bar-lib/bundle.so Experiments/load-foo-bar-lib/bar.so
        gcc Experiments/load-foo-bar-lib/macho.c Experiments/load-foo-bar-lib/main.c -o Experiments/load-foo-bar-lib/macho
        ./Experiments/load-foo-bar-lib/macho ./Experiments/load-foo-bar-lib/bar.so ./Experiments/load-foo-bar-lib/bundle.so

    - name: Publish load-foo-bar-lib binaries
      uses: actions/upload-artifact@v2
      with:
        name: load-foo-bar-lib
        path: |
          ./Experiments/load-foo-bar-lib/macho
          ./Experiments/load-foo-bar-lib/bundle.so
          ./Experiments/load-foo-bar-lib/bar.so